.timeline {
  text-align: center;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 18px;
  display: block;
  overflow: hidden;
  font-family: Helvetica Neue;
}
.timeline li {
  display: block;
  float: left;
  padding: 6px 12px 6px 24px;
  position: relative;
  margin: 0 5px 0 0;
  color: black;
}
.timeline li:after {
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 1;
  border-left: 15px solid coral;
}
.timeline li:before {
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  left: 0;
  top: 0;
}
.timeline li:nth-child(n):after {
  border-left-width: 15px;
  border-left-style: solid;
}
.timeline li:nth-child(1) {
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.timeline li:nth-child(1):before {
  display: none;
}
.timeline li:nth-child(1) {
  background: coral;
}
.timeline li:nth-child(1):after {
  border-left-color: coral;
}
.timeline li:nth-child(2) {
  background: #ff5a1d;
}
.timeline li:nth-child(2):after {
  border-left-color: #ff5a1d;
}
.timeline li:nth-child(3) {
  background: #e93f00;
}
.timeline li:nth-child(3):after {
  border-left-color: #e93f00;
}
.timeline li:nth-child(4) {
  background: #b63100;
}
.timeline li:nth-child(4):after {
  border-left-color: #b63100;
}
.timeline li:nth-child(5) {
  background: #832300;
}
.timeline li:nth-child(5):after {
  border-left-color: #832300;
}
.timeline li:last-child {
  padding-right: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.timeline li:last-child:after {
  display: none;
}
