<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/timeline.css">
  <style id="li-bgr"></style>
  <style id="li-size"></style>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/colorpicker.css">
</head>
<body ng-app="TimelineApp">

<section ng-controller="StylesCtrl">

<div class="demo">
  <ul class="timeline">
    <li>Ola!</li>
    <li>Make</li>
    <li>your </li>
    <li>timeline ;-)</li>
  </ul>
</div>

<div class="options">

  <h2 class="title">Change options</h2>

  <div class="form">
    <div class="form-group">
      <label for="height">Height</label>
      <input type="number" ng-model="height" min=20 step=2 ng-change="changeHeight(height)"><span>px</span>
    </div>

    <div class="form-group">
      <label for="radius">Border radius</label>
      <input type="number" ng-model="radius" min=1 ng-change="changeRadius(radius)"><span>px</span>
    </div>

    <div class="form-group">
      <label>Background</label>
      <input colorpicker="hex" ng-style="changeInputBgr()" type="text" ng-model="bgr[0]" ng-change="changeBgr(bgr[0], darkenby)" min=1>
    </div>

    <div class="form-group">
      <label for="darkenby">Darken by</label>
      <input type="number" min=0 ng-model="darkenby" ng-change="changeBgr(bgr[0], darkenby)"> <span>%</span>
    </div>

    <div class="form-group">
      <label for="textcolor">Text color</label>
      <input colorpicker="hex" ng-style="changeTextInputBgr()" type="text" ng-model="textcolor" ng-change="changeTextColor(textcolor)">
    </div>

    <div class="form-group">
      <label for="seperation">Separation</label>
      <input type="number" min=0 ng-model="seperation" ng-change="changeSeperation(seperation)"><span>px</span>
    </div>

    <div class="form-group">
      <label for="depth">Depth</label>
      <input type="number" min=4 max=7 ng-model="depth" ng-change="changeDepth(depth)">
    </div>

  </div>
</div>

<div class="code">
<h2 class="title">Generated code</h2>
<pre>.timeline {
  text-align: center;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: {{height*0.6 | number:0}}px;
  line-height: {{height*0.6 | number:0}}px;
  display: block;
  overflow: hidden; }
  .timeline li {
    display: block;
    float: left;
    padding: {{height*0.2 | number:0}}px {{height*0.4 | number:0}}px {{height*0.2 | number:0}}px {{height*0.8 | number:0}}px;
    position: relative;
    margin: 0 {{seperation | number:0}}px 0 0;
    color: {{textcolor}}; }
    .timeline li:after {
      content: "";
      border-top: {{height*0.5 | number:0}}px solid transparent;
      border-bottom: {{height*0.5 | number:0}}px solid transparent;
      border-left: {{height*0.5 | number:0}}px solid transparent;
      position: absolute;
      right: -{{height*0.5 | number:0}}px;
      top: 0;
      z-index: 1;
      border-left: {{height*0.5 | number:0}}px solid {{bgr[0]}}; }
    .timeline li:before {
      content: "";
      border-top: {{height*0.5 | number:0}}px solid transparent;
      border-bottom: {{height*0.5 | number:0}}px solid transparent;
      border-left: {{height*0.5 | number:0}}px solid white;
      position: absolute;
      left: 0;
      top: 0;
    }
    .timeline li:nth-child(n):after {
      border-left-width: {{height*0.5 | number:0}}px;
      border-left-style: solid; }
    .timeline li:nth-child(1) {
      padding-left: {{seperation*2 | number:0}}px;
      border-top-left-radius: {{radius | number:0}}px;
      border-bottom-left-radius: {{radius | number:0}}px; }
      .timeline li:nth-child(1):before {
        display: none; }
</pre>
<pre ng-repeat="item in bgr">
    .timeline li:nth-child({{$index+1}}) {
      background: {{item}}; }
      .timeline li:nth-child({{$index+1}}):after {
        border-left-color: {{item}}; }
</pre>
<pre>
    .timeline li:last-child {
      padding-right: 25px;
      border-top-right-radius: {{radius | number:0}}px;
      border-bottom-right-radius: {{radius | number:0}}px; }
      .timeline li:last-child:after {
        display: none; }
</pre></div>

</section>

<a href="https://github.com/sayanee/timeline-css"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="js/colorpicker.js"></script>
<script src="js/tinycolor.js"></script>
<script>
var app = angular.module('TimelineApp', ['colorpicker.module']);

app.controller('StylesCtrl', function($scope) {

  $scope.height = 50;
  $scope.radius = 10;
  $scope.bgr = ['#c5e1e7', '#a1ced8', '#7dbcc9', '#59a9ba'];
  $scope.darkenby = 10;
  $scope.textcolor = '#fff';
  $scope.depth = 4;
  $scope.seperation = 10;

  var liAfterStyle = document.getElementsByTagName('style')[1].innerHTML;
  liAfterStyle = '.timeline li:nth-child(n):after {border-left: ' + $scope.height*0.5 + ' solid ' + 'green;}'

  $scope.getDepth = function() {
    return new Array($scope.depth);
  }

  $scope.changeDepth = function(depth) {
    var list = document.getElementsByClassName('timeline')[0];
    var i, entry;
    var listItems = ['Ola!', 'Make', 'your', 'timeline ;-)', 'Hej', 'Willkommen', 'Ni Hao']

    list.innerHTML = '';

    for (i = 0; i < depth; i++) {
      entry = document.createElement('li');
      entry.appendChild(document.createTextNode(listItems[i]));
      list.appendChild(entry);
    }

    $scope.changeBgr($scope.bgr[0], $scope.darkenby);
    $scope.changeTextColor($scope.textcolor);
    $scope.changeSeperation($scope.seperation);
    $scope.changeRadius($scope.radius);
    $scope.changeHeight();
  }

  $scope.changeTextColor = function(textcolor) {
    var list = Array.prototype.slice.call(document.querySelectorAll('.timeline li'));
    list.forEach(function(element) {
      element.style.color = textcolor;
    });
  }

  $scope.changeSeperation = function(seperation) {
    var list = Array.prototype.slice.call(document.querySelectorAll('.timeline li'));
    list.forEach(function(element, index) {
      element.style.marginRight = seperation + 'px';
      if(index === 0) element.style.paddingLeft = seperation*2 + 'px';
    });
  }

  $scope.changeInputBgr = function() {
    return {
      background: $scope.bgr[0]
    };
  }

  $scope.changeTextInputBgr = function() {
    return {
      background: $scope.textcolor
    };
  }

  $scope.changeRadius = function(radius) {
    radiusValue = radius + 'px';
    document.querySelectorAll("ul > li:first-child")[0].style.borderTopLeftRadius = radiusValue;
    document.querySelectorAll("ul > li:first-child")[0].style.borderBottomLeftRadius = radiusValue;
    document.querySelectorAll("ul > li:last-child")[0].style.borderTopRightRadius = radiusValue;
    document.querySelectorAll("ul > li:last-child")[0].style.borderBottomRightRadius = radiusValue;
  }

  $scope.changeBgr = function(bgr, darkenby) {

    var elList = Array.prototype.slice.call( document.querySelectorAll('.timeline li') );
    var newColor = '';
    var style = '';
    $scope.bgr = [];

    for (index = 0; index < elList.length; index++){
      newColor = '#' + tinycolor.darken(bgr, amount = darkenby*index).toHex();
      elList[index].style.backgroundColor = newColor;
      $scope.bgr[index] = newColor;
      style += '.timeline li:nth-child(' + (index + 1) + '):after {border-left-color: ' + newColor + ';}';
    }

    document.getElementById('li-bgr').innerText = style;

  }

  $scope.changeHeight = function() {
    var list = Array.prototype.slice.call(document.querySelectorAll('.timeline li'));
    var border = $scope.height*0.5;
    var borderMinus = $scope.height*0.5*(-1);
    var style = document.getElementById('li-size').innerText;
    list.forEach(changeAllHeights);
    document.getElementById('li-size').innerText = '.timeline li:nth-child(n):after {border-left-width:' + border + 'px}.timeline li:nth-child(1){padding-left:' + $scope.seperation*2 + 'px !important;}' + '.timeline li:after{border-top-width:' + border + 'px;border-bottom-width:' + border + 'px;border-left-width:' + border + 'px;right:' + borderMinus + 'px;border-left-width:' + border + 'px;}' + '.timeline li:before{border-top-width:' + border + 'px;border-bottom-width:' + border + 'px;border-left-width:' + border + 'px;}' + '.timeline li:last-child{padding-right:' + border + 'px;}';
  }

  function changeAllHeights(element) {
    element.style.fontSize = $scope.height*0.6 + 'px';
    element.style.lineHeight = $scope.height*0.6 + 'px';
    element.style.paddingTop = $scope.height*0.2 + 'px';
    element.style.paddingRight = $scope.height*0.4 + 'px';
    element.style.paddingBottom = $scope.height*0.2 + 'px';
    element.style.paddingLeft = $scope.height*0.8 + 'px';
  }

});
</script>
</body>
</html>
